<section id="contact">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">ติดต่อเรา</h2>
        <!-- <h3 class="section-subheading text-muted">ติดต่อเราได้ทางแบบฟอร์มข้างล่าง</h3> -->
    </div>
    <div class="contact-all">
        <img src="img/MAP.jpg" class="img-responsive col-lg-4" alt="">
        <div class="col-lg-6 address-wrap">
            <div class="d-flex flex-row">
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div>
                    <h5>สำนักงานใหญ่จังหวัดอุดรธานี</h5>
                    <p>
                        114/3  หมู่ 7  ต. หนองบัว   อ.เมือง   จ.อุดรธานี
                    </p>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div>
                    <h5>โทรศัพท์</h5>
                    <p>0-4224-8610-2</br>0-4232-4287-92</p>
                    <h5>โทรสาร</h5>
                    <p>0-4224-9383</br>0-4232-4294</br>0-4232-6618</p>
                </div>
            </div>
            <div class=" d-flex flex-row">
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div>
                    <h5>info@thaiwatengineering.co.th</h5>
                    <p>ติดต่อได้ตลอดเวลา</p>
                </div>
            </div>                                                                 
        </div>   
    </div>
     
</section>
