<section id="contact" class="contact">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">ติดต่อเรา</h2>
        <h3 class="section-subheading text-muted">ช่องทางติดต่อ</h3>
    </div>
    <div class="col-lg-12 detail">
        <img src="img/about/map_udon.jpg" class="img-responsive col-lg-6" alt="">
        <div class="col-lg-6 address-wrap">
            <div class="d-flex">
                <div class="icon flex">
                    <i class="fa map-pin"></i>
                    <h5>สำนักงานใหญ่จังหวัดอุดรธานี</h5>
                </div>
                <div>
                    <p>114/3  หมู่ 7  ต. หนองบัว   อ.เมือง   จ.อุดรธานี</p>
                </div>
            </div>
            <div class="d-flex">
                <div class="icon flex">
                    <i class="fa fa-phone"></i>
                    <h5>โทรศัพท์</h5>
                </div>
                <div>
                    <p>0-4224-8610-2  0-4232-4287-92</p>
                </div>
                <div class="icon flex">
                    <i class="fa fa-fax"></i>
                    <h5>โทรสาร</h5>
                </div>
                <div>
                    <p>0-4224-9383</p>
                </div>
            </div>
            <div class=" d-flex">
                <div class="icon flex">
                    <i class="fa fa-envelope"></i>
                    <h5>อีเมลล์</h5>
                </div>
                <div>
                    <p>info@thaiwatengineering.co.th</p>
                </div>
            </div>
            <div class="d-flex">
                <div class="icon flex">
                    <i class="fa fa-map-marker"></i>
                    <h5>พิกัดที่ตั้ง</h5>
                </div>
                <div>
                    <p><a href="https://maps.app.goo.gl/RXLJY8eTUPwQ894S6" target="_blank">17.3944, 102.7947</a></p>
                </div>
            </div> 
        </div>   
    </div>
    <div class="col-lg-12 detail">
        <img src="img/about/map_phatum.jpg" class="img-responsive col-lg-6" alt="">
        <div class="col-lg-6 address-wrap">
            <div class="d-flex">
                <div class="icon flex">
                    <i class="fa map-pin"></i>
                    <h5>สำนักงานปทุมธานี</h5>
                </div>
                <div>
                    <p>106 หมู่ที่ 7 ถนนวงแหวนบางบัวทอง - ปทุม ตำบลบางเดื่อ อำเภอเมืองปทุมธานี จังหวัดปทุมธานี 12000</p>
                </div>
            </div>
            <div class="d-flex">
                <div class="icon flex">
                    <i class="fa fa-phone"></i>
                    <h5>โทรศัพท์</h5>
                </div>
                <div>
                    <p>0-2150-1818</p>
                </div>
                <div class="icon flex">
                    <i class="fa fa-fax"></i>
                    <h5>โทรสาร</h5>
                </div>
                <div>
                    <p>0-2157-2842</p>
                </div>
            </div>
            <div class=" d-flex">
                <div class="icon flex">
                    <i class="fa fa-envelope"></i>
                    <h5>อีเมลล์</h5>
                </div>
                <div>
                    <p>thaiwatpathum@gmail.com</p>
                </div>
            </div>                                                                 
            <div class="d-flex">
                <div class="icon flex">
                    <i class="fa fa-map-marker"></i>
                    <h5>พิกัดที่ตั้ง</h5>
                </div>
                <div>
                    <p><a href="https://maps.app.goo.gl/A5qxZDWsxmMcSH946" target="_blank">14.00565, 100.45368</a></p>
                </div>
            </div> 
        </div>   
    </div>
     
</section>
