<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">เราให้บริการด้านวิศวกรรมที่หลากหลาย</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานทาง/HIGHTWAY</h4>
                    <p class="text-muted">จากประสบการณ์ในการสร้างถนนมากว่า 40ปีผลงานที่ผ่านจึงเป็นที่พอใจ และไม่มีปัญหาถนนพังหลังการสร้าง</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานเขื่อน ฝาย / DAM WEIRS</h4>
                    <p class="text-muted">ผลงานเป็นที่ยอมรับทั้งภายจากทุกฝ่าย ทั้งคุณภาพ ภูมิทัศน์ โครงสร้าง เป็นที่เลื่องลือ ถึงความสามารถ</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานแอสฟัลท์ติกคอนกรีต / ASPHALTIC   CONCRETE   WORKS</h4>
                    <p class="text-muted">มีความชำนาญและเครื่องมือที่ครบครัน มีคุณภาพและทีมงาน ที่เชี่ยวชาญด้านปูยางรวดเร็วและมีคุณภาพ</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานสนามบิน / AIRPORTS</h4>
                    <p class="text-muted">สนามบินจังหวัดและระดับประเทศ มีผลงานเป็นที่ยกย่องทั้งในและต่างประเทศ</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานอาคาร / BUILDINGS</h4>
                    <p class="text-muted">ทีมงาน ที่พร้อมทำงานและชำนาญทั้งออกแบบที่สวยงาม โครงสร้างในราคาที่คุ้มค่า ซื่อตรง</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shower fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานประปา / WATERWORKS</h4>
                    <p class="text-muted">วางท่อ ระบบเมือง จากทีมงานที่เชี่ยวชาญ ชำนาญ รวดเร็ว ไม่เกิดปัญหาภายหลังจากเสร็จงาน</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-spinner fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานบำบัดน้ำเสีย&งานระบายน้ำ</h4>
                    <p class="text-muted">ระบบบำบัดน้ำเสีย และกำจัดขยะมูลฝอยสร้างผลงาน ทั้งของทางรัฐบาล และงานเอกชน</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานสะพาน / BRIDGES</h4>
                    <p class="text-muted">ได้รับทั้งงานระดับชาติและภายในประเทศ เป็นที่เชื่อถือมากว่า 40 ปี</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">งานสวนสาธารณะ / PUBLIC  PARK</h4>
                    <p class="text-muted">ทั้งงานของหลวงและงานของเอกชน สวนสาธารณะ</p>
                </div>
            </div>
        </div>
    </section>
