.logo-top{
	width: 40px;
	height: 40px;
	margin-right: 20px;
  margin-left: 15px;
	margin-top: 10px;
}
.tag-nav{
	display: inline-flex;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
  /*margin: 1.5em auto;
  max-width: 768px;*/
  max-width: 100%;
  column-gap: 1.5em;
}


.contactform { 
  position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 300px;
  margin: 60px auto 0;
  padding: 10px;
  background: black;
  height: auto;
  opacity: .45; /* Set the opacity for a slightly transparent Google Form */ 
  color: white;
}



/* The Masonry Brick */
.pin-grid {
  background: #fff;
  /*padding: 1em;*/
  /*margin: 0 0 1.5em;*/
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}